{% extends '../layouts/_pages.twig' %}

{% import '../mixins/_product.twig' as mp %}
{% import '../mixins/_quantity.twig' as mq %}

{% block vars %}
  
    {% set product = products[0] %}

    {% set page = {
      title: product.name,
      breadcrumbs: {
        'Catalog': 'catalog.html',
        'Laptops & Tablets': 'category.html',
        'Laptops': 'subcategory.html'
      }
    } %}
	
{% endblock %}

{% block pages %}

	<div class="uk-grid-medium uk-child-width-1-1" uk-grid>
		<div>
			<div class="uk-card uk-card-default uk-card-small tm-ignore-container">
				<div class="uk-grid-small uk-grid-collapse uk-grid-match" uk-grid>
					{# Images #}
					<div class="uk-width-1-1 uk-width-expand@m">
						<div class="uk-grid-collapse uk-child-width-1-1" uk-slideshow="finite: true; ratio: 4:3;" uk-grid>
							{# Primary Image #}
							<div>
								<ul class="uk-slideshow-items" uk-lightbox>
									<li>
									  {% if product.image %}
										<a class="uk-card-body tm-media-box tm-media-box-zoom" href="{{ product.image.large }}">
												<figure class="tm-media-box-wrap"><img src="{{ product.image.large }}" alt="{{ product.name }}"></figure>
											</a>
									  {% else %}
										<figure class="tm-media-box-wrap"><img src="{{ product.image.large }}" alt="{{ product.name }}">{# icon("image", "5")(class="uk-text-muted") #}</figure>
									  {% endif %}
									</li>
									{% if product.additionalImages %}
										{% for additionalImage in product.additionalImages %}
										<li><a class="uk-card-body tm-media-box tm-media-box-zoom" href="{{ additionalImage.large }}">
											<figure class="tm-media-box-wrap"><img src="{{ additionalImage.large }}" alt="{{ product.name }}"></figure>
										</a></li>																
										{% endfor %}
									{% endif %}
								</ul>
							</div>
							{# Additional images #}
							{% if product.additionalImages %}
							<div>
								<div class="uk-card-body uk-flex uk-flex-center">
									<div class="uk-width-1-2 uk-visible@s">
										<div uk-slider="finite: true">
											<div class="uk-position-relative">
												<div class="uk-slider-container">
													<ul class="tm-slider-items uk-slider-items uk-child-width-1-4 uk-grid uk-grid-small">
														<li uk-slideshow-item="0">
															<div class="tm-ratio tm-ratio-1-1"><a class="tm-media-box tm-media-box-frame">
																	<figure class="tm-media-box-wrap"><img src="{{ product.image.small }}" alt="{{ product.name }}"></figure>
																</a></div>
														</li>
													  {% for index, additionalImage in product.additionalImages %}
														<li uk-slideshow-item="{{ (index + 1) }}">
															<div class="tm-ratio tm-ratio-1-1"><a class="tm-media-box tm-media-box-frame" href="#">
																	<figure class="tm-media-box-wrap"><img src="{{ additionalImage.small }}" alt="{{ product.name }}"></figure>
																</a></div>
														</li>
													  {% endfor %}
													</ul>
													<div><a class="uk-position-center-left-out uk-position-small" href="#" uk-slider-item="previous" uk-slidenav-previous></a><a class="uk-position-center-right-out uk-position-small" href="#" uk-slider-item="next" uk-slidenav-next></a></div>
												</div>
											</div>
										</div>
									</div>
									<ul class="uk-slideshow-nav uk-dotnav uk-hidden@s"></ul>
								</div>
							</div>
							{% endif %}
						</div>
					</div>
					{# / Images #}
					{# Info #}
					<div class="uk-width-1-1 uk-width-1-3@m tm-product-info">
						<div class="uk-card-body">
							{# Brand #}
							<div><a href="{{ product.brand.href }}" title="{{ product.brand.name }}"><img src="{{ product.brand.image }}" alt="{{ product.brand.name }}" style="height: 40px;"></a></div>
							{# / Brand #}
							{# Rating & Statuses #}
							<div class="uk-margin">
								<div class="uk-grid-small" uk-grid>
									<div class="uk-flex uk-flex-middle">
										<ul class="uk-iconnav uk-margin-xsmall-bottom tm-rating">
											<li><span class="uk-text-warning" uk-icon="star"></span></li>
											<li><span class="uk-text-warning" uk-icon="star"></span></li>
											<li><span class="uk-text-warning" uk-icon="star"></span></li>
											<li><span class="uk-text-warning" uk-icon="star"></span></li>
											<li><span class="uk-text-warning" uk-icon="star"></span></li>
										</ul>
										<div class="uk-margin-xsmall-left"><a class="uk-text-meta js-scroll-to-description" href="#description" onclick="UIkit.switcher('.js-product-switcher').show(3);">(2)</a></div>
									</div>
									{% if product.statuses %}
									<div>
									  {% for status in product.statuses %}
										  {% if case == "new" %}
											<span class="uk-label uk-label-success uk-margin-xsmall-right">{{ status }}</span>
										  {% elseif case == "top selling" %}
											<span class="uk-label uk-label-warning uk-margin-xsmall-right">{{ status }}</span>
										  {% elseif case == "trade-in" %}
											<span class="uk-label uk-label-danger uk-margin-xsmall-right">{{ status }}</span>
										  {% else %}
										    <span class="uk-label">{{ status }}</span>
										{% endif %}
									  {% endfor %}
									</div>
									{% endif %}
								</div>
							</div>
							{# / Rating & Statuses #}
							{# Variations #}
							{% if product.variations %}
							<div class="uk-margin">
								<div class="uk-grid-medium" uk-grid>
								  {% for variation in product.variations %}
									<div>
										<div class="uk-text-small uk-margin-xsmall-bottom">Color</div>
										<ul class="uk-subnav uk-subnav-pill tm-variations" uk-switcher>
										  {% for value in variation.values %}
											<li>{% if variation.name == "Color" %}<a class="tm-variation-color" uk-tooltip="{{ value.name }}">
													<div style="background-color: {{ value.value }}"></div>
												</a>{% else %}<li><a>{{ value.name }}</a></li>{% endif %}
												</li>
										  {% endfor %}
										</ul>
									</div>
								  {% endfor %}
								</div>
							</div>
							{% endif %}
							{# / Variations #}
							{# Shop #}
							<div class="uk-margin">
								<div class="uk-padding-small uk-background-primary-lighten uk-border-rounded">
									<div class="uk-grid-small uk-child-width-1-1" uk-grid>
									  {% if product.isNotAvailable %}
										<div class="uk-text-muted">Product not available</div>
									  {% else %}
										<div>{% if product.oldPrice %}<del class="uk-text-meta">{{ product.oldPrice }}</del>{% endif %}
											<div class="tm-product-price">{{ product.price }}</div>
										</div>
									  {% endif %}
									  {% if not product.isNotAvailable %}
										<div>
											<div class="uk-grid-small" uk-grid>
												<div>{{ mq.quantity(product.id) }}</div>
												<div><button class="uk-button uk-button-primary tm-product-add-button tm-shine js-add-to-cart">add to cart</button></div>
												<div class="uk-width-auto uk-width-expand@s uk-flex uk-flex-middle uk-text-meta"><a class="uk-margin-small-right js-add-to js-add-to-favorites tm-action-button-active js-added-to" uk-tooltip="Add to favorites"><span uk-icon="heart"></span></a><a class="js-add-to js-add-to-compare tm-action-button-active js-added-to" uk-tooltip="Add to compare"><span uk-icon="copy"></span></a></div>
											</div>
										</div>
									  {% endif %}
									</div>
								</div>
							</div>
							{# / Shop #}
							{# Delivery info #}
							<div class="uk-margin">
								<div class="uk-padding-small uk-background-muted uk-border-rounded">
									<div class="uk-grid-small uk-child-width-1-1 uk-text-small" uk-grid>
										<div>
											<div class="uk-grid-collapse" uk-grid><span class="uk-margin-xsmall-right" uk-icon="cart"></span>
												<div>
													<div class="uk-text-bolder">Delivery</div>
													<div class="uk-text-xsmall uk-text-muted">In stock, free, tomorrow</div>
												</div>
											</div>
										</div>
										<div>
											<div class="uk-grid-collapse" uk-grid><span class="uk-margin-xsmall-right" uk-icon="location"></span>
												<div>
													<div class="uk-text-bolder">Pick up from store</div>
													<div class="uk-text-xsmall uk-text-muted">In stock, free, tomorrow</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{# / Delivery info #}
							{# Properties #}
							<div class="uk-margin">
								<ul class="uk-list uk-text-small uk-margin-remove">
								  {% for property, value in product.properties %}
									<li><span class="uk-text-muted">{{ property }}</span><span>{{ value }}</span></li>
								  {% endfor %}
								</ul>
								<div class="uk-margin-small-top"><a class="uk-link-heading js-scroll-to-description" href="#description" onclick="UIkit.switcher('.js-product-switcher').show(1);"><span class="tm-pseudo">Detailed specifications</span><span class="uk-margin-xsmall-left" uk-icon="icon: chevron-down; ratio: .75;"></span></a></div>
							</div>
							{# / Properties #}
						</div>
					</div>
					<div class="uk-width-1-1 tm-product-description" id="description">
						<header>
							<nav class="tm-product-nav" uk-sticky="offset: 60; bottom: #description; cls-active: tm-product-nav-fixed;">
								<ul class="uk-subnav uk-subnav-pill js-product-switcher" uk-switcher="connect: .js-tabs">
									<li><a class="js-scroll-to-description" href="#description">Overview</a></li>
									<li><a class="js-scroll-to-description" href="#description">Specifications</a></li>
									<li><a class="js-scroll-to-description" href="#description">Accessories
											<span>(9)</span></a></li>
									<li><a class="js-scroll-to-description" href="#description">Reviews
											<span>(2)</span></a></li>
									<li><a class="js-scroll-to-description" href="#description">Q&A</a></li>
								</ul>
							</nav>
						</header>
						<div class="uk-card-body">
							<div class="uk-switcher js-product-switcher js-tabs">
								<section>
									<article class="uk-article">
										<div class="uk-article-body">
											{% include '../partials/_article.twig' %}
										</div>
									</article>
								</section>
								{# Specifications #}
								<section>
								  {% for group in product.specifications %}
									<h2>{{ group.name }}</h2>
									<table class="uk-table uk-table-divider uk-table-justify uk-table-responsive">
									  {% for property, value in group.properties %}
										<tr>
											<th class="uk-width-medium">{{ property }}</th>
											<td class="uk-table-expand">{{ value }}</td>
										</tr>
									  {% endfor %}
									</table>
								  {% endfor %}
								</section>
								{# / Specifications #}
								{# Accessories #}
								<section>
									<div class="tm-wrapper">
										<div class="uk-grid-collapse uk-child-width-1-3@s uk-child-width-1-4@m tm-products-grid" uk-grid>
										  {% for product in products %}
											{{ mp.product(product) }}
										  {% endfor %}
										</div>
									</div>
								</section>
								{# / Accessories #}
								{# Reviews #}
								<section>
									<div class="uk-grid-small uk-grid-divider" uk-grid>
										<div class="uk-width-1-1 uk-width-1-5@s uk-text-center tm-reviews-column">
											<div class="uk-text-meta uk-text-uppercase">average rating</div>
											<div class="uk-heading-primary">5.0</div>
											<div class="uk-flex uk-flex-center">
												<ul class="uk-iconnav tm-rating">
													<li><span class="uk-text-warning" uk-icon="star"></span></li>
													<li><span class="uk-text-warning" uk-icon="star"></span></li>
													<li><span class="uk-text-warning" uk-icon="star"></span></li>
													<li><span class="uk-text-warning" uk-icon="star"></span></li>
													<li><span class="uk-text-warning" uk-icon="star"></span></li>
												</ul>
											</div>
											<div class="uk-margin-small-top uk-text-meta">based on 2 reviews</div><button class="uk-button uk-button-primary uk-margin-top uk-width-1-1" uk-toggle="target: #review">write a review</button>
										</div>
										<div class="uk-width-1-1 uk-width-expand@s">
											<div class="uk-grid-small uk-grid-divider uk-child-width-1-1" uk-grid>
											  {% for review in product.reviews %}
												<article>
													<section class="uk-grid-small uk-child-width-1-1" uk-grid>
														<header>
															<div class="uk-h4 uk-margin-remove">{{ review.author }}</div><time class="uk-text-meta">{{ review.date }}</time>
														</header>
														<div>
															<ul class="uk-iconnav uk-margin-bottom tm-rating">
																<li><span class="uk-text-warning" uk-icon="star"></span></li>
																<li><span class="uk-text-warning" uk-icon="star"></span></li>
																<li><span class="uk-text-warning" uk-icon="star"></span></li>
																<li><span class="uk-text-warning" uk-icon="star"></span></li>
																<li><span class="uk-text-warning" uk-icon="star"></span></li>
															</ul>
															<div>
																{{ review.text }}
															</div>
															<div class="uk-grid-small uk-flex-middle uk-margin-top" uk-grid>
																<div class="uk-text-meta">Was this review helpful to you?</div>
																<div><button class="uk-button uk-button-default uk-button-small">Yes<span class="uk-margin-xsmall-left uk-text-muted">{{ review.likes }}</span></button><button class="uk-button uk-button-default uk-button-small uk-margin-small-left">No<span class="uk-margin-xsmall-left uk-text-muted">{{ review.dislikes }}</span></button></div>
															</div>
														</div>
													</section>
												</article>
											  {% endfor %}
											</div>
										</div>
									</div>
								</section>
								{# / Reviews #}
								{# Q&A #}
								<section>
									<ul class="uk-list-divider uk-list-large" uk-accordion="multiple: true">
									  {% for question in product.questions %}
										<li><a class="uk-accordion-title" href="#">{{ question.question }}</a>
											<div class="uk-accordion-content">{{ question.answer }}</div>
										</li>
									  {% endfor %}
									</ul>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<section>
			<div uk-slider="finite: true">
				<div class="uk-grid-small uk-flex-middle uk-margin-bottom" uk-grid>
					<h2 class="uk-width-expand uk-text-center uk-text-left@s">Related Products</h2>
					<div class="uk-visible@s"><a class="tm-slidenav" href="#" uk-slider-item="previous" uk-slidenav-previous></a><a class="tm-slidenav" href="#" uk-slider-item="next" uk-slidenav-next></a></div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-small tm-ignore-container">
						<div class="uk-position-relative">
							<div class="uk-slider-container">
								<div class="uk-slider-items uk-grid-collapse uk-child-width-1-3 uk-child-width-1-4@m tm-products-grid">
								  {% for product in products %}
									{{ mp.product(product) }}
								  {% endfor %}
								</div>
							</div>
						</div>
					</div>
					<ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-top uk-hidden@s"></ul>
				</div>
			</div>
		</section>
	</div>
	<div id="review" uk-modal>
		<div class="uk-modal-dialog uk-modal-body"><button class="uk-modal-close-outside" type="button" uk-close></button>
			<h2 class="uk-modal-title uk-text-center">Review</h2>
			<form class="uk-form-stacked">
				<div class="uk-grid-small uk-child-width-1-1" uk-grid>
					<div><label>
							<div class="uk-form-label uk-form-label-required">Name</div><input class="uk-input" type="text" required>
						</label></div>
					<div><label>
							<div class="uk-form-label uk-form-label-required">Email</div><input class="uk-input" type="email" required>
						</label></div>
					<div>
						<div class="uk-form-label">Rating</div>
						<ul class="uk-iconnav tm-rating">
							<li><a uk-icon="star"></a></li>
							<li><a uk-icon="star"></a></li>
							<li><a uk-icon="star"></a></li>
							<li><a uk-icon="star"></a></li>
							<li><a uk-icon="star"></a></li>
						</ul>
					</div>
					<div><label>
							<div class="uk-form-label uk-form-label-required">Review</div><textarea class="uk-textarea" rows="5" required></textarea>
						</label></div>
					<div class="uk-text-center"><button class="uk-button uk-button-primary">Send</button></div>
				</div>
			</form>
		</div>
	</div>
							
{% endblock %}
