{% macro article(article) %}

<a href="{{ article.href }}">
	<article class="uk-card uk-card-default uk-card-small uk-article uk-overflow-hidden uk-box-shadow-hover-large uk-height-1-1 tm-ignore-container">
	  {% if article.preview %}
		<div class="tm-ratio tm-ratio-16-9">
			<figure class="tm-media-box uk-cover-container uk-margin-remove"><img src="{{ article.preview }}" alt="{{ article.title }}" uk-cover="uk-cover" /></figure>
		</div>
	  {% endif %}
		<div class="uk-card-body">
			<div class="uk-article-body">
				<div class="uk-article-meta uk-margin-xsmall-bottom"><time>{{ article.date }}</time></div>
				<div>
					<h3 class="uk-margin-remove">{{ article.title }}</h3>
				</div>
				<div class="uk-margin-small-top">
					{{ article.description }}
				</div>
			</div>
		</div>
	</article>
</a>
		  
{% endmacro %}